.getintouch-form form {
  position: relative;
}

.getintouch-form label {
  display: none;
}

.getintouch-form .hs-error-msg {
  color: red;
  display: block;
  padding-top: 0.2em;
}

.getintouch-form input {
  background-color: transparent;
  height: 2.5em;
  margin-bottom: 0.5em;
  padding-top: 0px;
  padding-right: 0.8333333333333334em;
  padding-bottom: 0px;
  padding-left: 0.8333333333333334em;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: hsla(0, 0%, 100%, 0.4);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: hsla(0, 0%, 100%, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 0%, 100%, 0.4);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: hsla(0, 0%, 100%, 0.4);
  border-top-left-radius: 0.16666666666666666em;
  border-top-right-radius: 0.16666666666666666em;
  border-bottom-left-radius: 0.16666666666666666em;
  border-bottom-right-radius: 0.16666666666666666em;
  background-color: transparent;
  font-size: 24em;
}

.getintouch-form a {
  color: white !important;
}

.getintouch-form .hs-button.primary.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #6b00de;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #6b00de;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #6b00de;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #6b00de;
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
  border-bottom-left-radius: 0.1875em;
  border-bottom-right-radius: 0.1875em;
  background-color: #6b00de;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
  font-size: 16em;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  height: 3em;
  position: absolute;
  left: auto;
  top: 0.4em;
  right: 0.4em;
  bottom: auto;
  -webkit-appearance: none;
}

.getintouch-form .hs-button.primary.large:hover {
  border-top-color: @swatch_3ed7a2dc;
  border-right-color: @swatch_3ed7a2dc;
  border-bottom-color: @swatch_3ed7a2dc;
  border-left-color: #6b00de;
  background-color: #6b00de;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .getintouch-form input {
    font-size: 18em;
  }

  .getintouch-form .hs-button.primary.large {
    font-size: 12em;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 767px) {
  .getintouch-form .hs-button.primary.large {
    height: 3em;
    padding-top: 1.26666667em;
    padding-bottom: 1.26666667em;
  }
}

@media only screen and (max-width: 479px) {
}
