.newsletter_form .hs-input {
  background-color: transparent;
  border-radius: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.newsletter_form p {
  background-color: transparent !important;
  color: white;
}

.newsletter_form .hs-button.primary.large {
  position: absolute;
  padding-right: 0em;
  top: 4.2em;
  right: 0.2em;
  height: calc(42 / 14);
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
}
